.tossimg{
    padding: 28px 0px 0px 20px;
    width: 114px;
    height: 56px;
    align-items: center;
    
}
.navbar{
    width: 100vw;
    position: fixed;
    z-index: 100;
}

.navbar_container{
    width: 100vw;
    margin : 0px 16px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.logo_container > a{
    height: 24px;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
}
.category{
    margin-right: 30px;
}
.category > ul{
    position: relative;
    display: inline-flex;
    align-items: center;
    list-style-type: none;
    padding: 0px 8px;
    height: 20px;
    border: 0px;
}
.category > ul > li,
.category > ul > div> li {
    padding: 2px 8px;
}
.category > ul > div{
    display: flex;
}

.category > ul > li > a,
.category > ul > div> li > a{
    padding: 14px 10px;
    color: rgb(102, 102, 102);
    align-items: center;
    text-decoration: none;
    border-radius: 7px;
    white-space: nowrap;
}
.category > ul > li > a:hover{
    background-color: rgb(241, 241, 241);
}
.category > ul > div > li > a:hover{
    background-color: rgb(241, 241, 241);
}

/*nav mobile css*/
.nav-appbtn{
    border: 0;
    width: 76px;
    height: 30px;
    color: #F9FAFB;
    font-size: 12px;
    font-weight: 600;
    background-color: #3182F6;
    margin-right: 12px;
    border-radius: 20px;
    position: relative;
    top: 4px;
    transition: all 0.2s ease-in;
}
.nav-appbtn:hover{
    background-color: #2665bd;
    transition: all 0.2s ease-in;
}
.hamburger{
    border: 0;
    background-color: white;
    width: 30px;
    height: 30px;
    position: relative;
}
.hamburger:hover{
    cursor: pointer;
}
.nav-svgIcon1 {
    position: absolute;
    right: 2px;
    top: 2px;
    background-image: url('../imagesClone/nav-1.svg');
    width: 26px;
    height: 24px;
    background-size: cover;
    transition: all 0.1s ease-in-out;
}
.nav-svgIcon2 {
    position: absolute;
    right: 2px;
    top: 2px;
    background-image: url('../imagesClone/nav-2.svg');
    width: 26px;
    height: 24px;
    background-size: cover;
    opacity: 0;
    transition: all 0.1s ease-in-out;
}



@media (min-width:1160px) {
    .navbar_container{
        margin: 0px auto;
    }
}

@media (max-width:660px) {
    .navbar_container{
        flex-flow: column;
        position: relative;
    }
    .navbar{
        width: 100vw;
        height: 58px;
    }
    .logo_container{
        position: absolute;
        width: 100vw;
        height: auto;
        text-align: left;
    }
    .logo_container > a > img {
        position: relative;
        z-index: 100;
    }
    .nav-mobile{
        position: absolute;
        width: 100vw;
        height: 58px;
        text-align: right;
        margin-right: 40px;
        top: 10px;
    }
    .category{
        position: relative;
        flex-flow: column;
        width: 100vw;
        height: auto;
        top: 0;
    }
    .category > ul{
        display: flex;
        flex-wrap: wrap;
        flex-flow: column;
        width: 100%;
        height: auto;
        background-color: white;
    }
    .category > ul > li{
        display: flex;
        flex-wrap: wrap;
        flex-flow: column;
        width: 100%;
        max-width: 100vw;
        padding-left: 70px;
        height: auto;
        text-align: left;
    }
    .category > ul > div {
        display: flex;
        width: 100%;
        max-width: 100vw;
        padding: 10px 0px 10px 45px;
        height: auto;
    }
    .category > ul > div > li > a{
        padding: 10px 16px;
        border-radius: 0px;
    }
    .category > ul > li:hover{
        background-color: rgb(241, 241, 241);
    }
    .category > ul > div > li > a:hover{
        background-color: rgb(241, 241, 241);
    }
    .category{
        display: none;
        opacity: 0;
        transform: translateY(30px);
        transition: all 0.3s ease;
    }
    .category.opacity-visible{
        opacity: 1;
        transform: translateY(40px);
        transition: all 0.3s ease;
    }
}
@media (min-width:661px) {
    .nav-mobile{
        display: none;
    }
    .category{
        display: flex !important;
        opacity: 1;
    }
}
