.section4-container{
    width: 100vw;
    height: 1300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section4-content{
    max-width: 1140px;
    width: 95%;
    display: flex;
    position: relative;
    justify-content: space-between;
    margin: 0px auto;
}
.section4-content-left{
    padding-left: 80px;
    min-width: auto;
}
.section4-left{
    width: 366px;
    height: 266px;
}
.section4-left-h1{
    position: relative;
    color: #3182F6;
    font-size: 28px;
    font-weight: bold;
    padding: 0;
    margin: 0px 0px 20px;
    z-index: 20;
}
.section4-left-h2{
    position: relative;
    width: 368px;
    color: #191F28;
    font-size: 50px;
    font-weight: bold;
    z-index: 20;
}
.section4-left-span1,
.section4-left-span2,
.section4-left-span3{
    white-space: nowrap;
    position: relative;
    top: 200px;
    columns: #333D4B;
    font-size: 48px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    z-index: 20;
}
.section4-left-span2-2{
    color: #8b95A1;
}
.section4-left-span3-3{
    color: #D1D6DB;
}
.section4-left-p{
    position: relative;
    top: 220px;
    color: #333D4B;
    font-size: 23px;
    z-index: 20;
}
.section4-content-right{
    position: relative;
    width: 250px;
    height: 936px;
}
.section4-right{
    position: absolute;
    width: 10px;
    height: 936px;
}
.section4-right > img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.section4-phone{
    z-index: 10;
    width: 600px;
    height: 936px;
}
.section4-right > .section4-right-1,
.section4-right > .section4-right-2,
.section4-right > .section4-right-3{
    width: 342px;
    height: 744px;
}

.section4-left-h1,
.section4-left-h2,
.section4-left-span1,
.section4-left-span2,
.section4-left-span2-2,
.section4-left-span3,
.section4-left-span3-3,
.section4-left-p,
.section4-phone,
.section4-right-1,
.section4-right-2,
.section4-right-3{
    opacity: 0;
    transition: opacity 1s ease-in-out, transform 0.5s ease-in-out;
}

.section4-left-h1.opacity-visible,
.section4-left-h2.opacity-visible,
.section4-left-span1.opacity-visible,
.section4-left-span2.opacity-visible,
.section4-left-span2-2.opacity-visible,
.section4-left-span3.opacity-visible,
.section4-left-span3-3.opacity-visible,
.section4-left-p.opacity-visible,
.section4-phone.opacity-visible{
    opacity: 1;
}

.section4-right-1 {
    z-index: 3; /* 가장 위에 위치하도록 z-index 설정 */
}
.section4-right-2 {
    z-index: 2; /* 중간에 위치하도록 z-index 설정 */
}
.section4-right-3 {
    z-index: 1; /* 가장 아래에 위치하도록 z-index 설정 */
}
@keyframes showImage1 {
    0%, 12% {
        opacity: 0;
    }
    12%, 42% {
        opacity: 1; /* 이미지 1을 1.5초 동안 보여줍니다. */
    }
    42%, 100% {
        opacity: 0; /* 나머지 시간 동안은 투명하게 합니다. */
    }
}

@keyframes showImage2 {
    42%, 68% {
        opacity: 1; /* 이미지 2를 1.5초 동안 보여줍니다. */
    }
    68%, 100% {
        opacity: 0; /* 나머지 시간 동안은 투명하게 합니다. */
    }
}

@keyframes showImage3 {
    0%, 68% {
        opacity: 0; /* 나머지 시간 동안은 투명하게 합니다. */
    }
    68%, 100% {
        opacity: 1; /* 이미지 3을 1.5초 동안 보여줍니다. */
    }
}

@media (max-width: 600px) {
    .section4-left-h1{
        font-size: 18px;
    }
    .section4-left-h2{
        font-size: 26px;
    }
    .section4-left-span1,
    .section4-left-span2,
    .section4-left-span3{
        font-size: 34px;
    }
    .section4-left-p{
        font-size: 18px;
    }
    .section4-phone{
        width: 500px;
        height: auto;
    }
    .section4-right > .section4-right-1,
    .section4-right > .section4-right-2,
    .section4-right > .section4-right-3{
        width: 280px;
        height: auto;
    }
}